In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

IMPORT DATA

In [2]:
app_interference = pd.read_csv('./data/scheduling_preliminary_app_interference_20180606.csv',names=['app_id1','app_id2',
                                                                                                    
                                                                                                    'max_limit'])
app_resources_header = ['appid']+['cpu'+str(i) for i in range(98)] + ['mem'+str(i) for i in range(98)] + ['disk','P','M','PM']
app_resources = pd.read_csv('./data/scheduling_preliminary_app_resources_20180606.csv',sep=',|\|',names=app_resources_header,engine='python')
instance_deploy = pd.read_csv('./data/scheduling_preliminary_instance_deploy_20180606.csv',names=['instance_id',
                                                                                                 'appid',
                                                                                                 'instance_in_host'])
machine_resources = pd.read_csv('./data/scheduling_preliminary_machine_resources_20180606.csv',names=['hostid',
                                                                                                     'cpu',
                                                                                                     'mem',
                                                                                                     'disk',
                                                                                                     'P_max',
                                                                                                     'M_max',
                                                                                                     'PM_max'])
submit_sample = pd.read_csv('./data/scheduling_preliminary_submit_sample_20180606.csv')

Data Dimensions

In [3]:
print('app_interference        :',app_interference.shape)
print('app_resources           :',app_resources.shape)
print('instance_deploy         :',instance_deploy.shape)
print('machine_resources       :',machine_resources.shape)
print('submit_sample           :',submit_sample.shape)

app_interference        : (35242, 3)
app_resources           : (9338, 201)
instance_deploy         : (68219, 3)
machine_resources       : (6000, 7)
submit_sample           : (9, 2)

First row of data

In [4]:
display("app_interference")
display(app_interference.head(3))
display("app_resources")
display(app_resources.head(3))
display("instance_deploy")
display(instance_deploy.head(3))
display("machine_resources")
display(machine_resources.head(3))
display("submit_sample")
display(submit_sample.head(3))

'app_interference'

    app_id1   app_id2  max_limit
0  app_8361  app_2163          0
1  app_6585  app_8959          0
2  app_5732  app_3361          2

'app_resources'

,appid,cpu0,cpu1,cpu2,cpu3,cpu4,cpu5,cpu6,cpu7,cpu8,...,mem92,mem93,mem94,mem95,mem96,mem97,disk,P,M,PM
0,app_1,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,6.491089,6.491566,6.491566,6.491566,6.491566,6.377323,60,0,0,0
1,app_2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,3.079407,3.079407,3.079407,3.079407,3.079407,3.079407,60,0,0,0
2,app_3,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,5.401012,3.486458,3.486458,3.486458,3.371586,3.385529,60,0,0,0

'instance_deploy'

  instance_id     appid instance_in_host
0    inst_157    app_50              NaN
1   inst_1837  app_3654              NaN
2  inst_23673  app_3486     machine_4959

'machine_resources'

      hostid  cpu  mem  disk  P_max  M_max  PM_max
0  machine_1   32   64   600      7      3       7
1  machine_2   32   64   600      7      3       7
2  machine_3   32   64   600      7      3       7

'submit_sample'

   inst_101   machine_1
0  inst_102   machine_2
1  inst_103   machine_3
2  inst_104   machine_4

Missing data

In [5]:
fig = plt.figure(figsize=(18,6))
missing = pd.DataFrame((app_resources.isnull().sum())*100/app_resources.shape[0]).reset_index()
ax = sns.pointplot("index",0,data=missing)
plt.xticks(rotation =90,fontsize =7)
plt.title("Percentage of Missing values")
plt.ylabel("PERCENTAGE")
plt.xlabel("COLUMNS")

ax.set_facecolor("k")
fig.set_facecolor("lightgrey")

In [6]:
merge = pd.merge(instance_deploy,app_resources,on='appid')

In [30]:
machine_resources.mem.value_counts()

288    3000
64     3000
Name: mem, dtype: int64

In [22]:
machine_resources.cpu.value_counts()

92    3000
32    3000
Name: cpu, dtype: int64

In [20]:
(merge.disk.sum()-1024*3000)/600

2485.318333333333

In [21]:
(merge.disk.sum()-600*3000)/1024

2698.4287109375

In [ ]:
app_resources.describe().iloc[:,100:110]